
notebooks/*
wfsimn.egg-info
__init__.pyc
__pycache__
wfsimn/data/mc_nsorted.root
wfsimn/data/wave_one_pe.csv
wfsimn/data/wave_pedestal.csv
.idea
venv
work
docs/build

##
wfsimn/.ipynb_checkpoints/
wfsimn/data/average_pulse.npy
wfsimn/test1.png
wfsimn/wfsimn.srctrlbm
wfsimn/wfsimn.srctrldb
wfsimn/wfsimn.srctrlprj
